<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KariyerJet.Com</title>
    <link rel="stylesheet" href="~/cv/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/cv/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/cv/css/style.css" />
    <link href="~/cv/css/Navbar.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid overcover">
        <br />
        <div class="container">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                     <a class="nav-link active" data-toggle="pill" href="#home">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#menu1">Profili Düzenle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action()">Çıkış Yap</a>
                </li>
            </ul>
        </div>
        <br />
        <div class="container profile-box">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - KariyerJet.Com - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="~/cv/js/jquery-3.2.1.min.js"></script>
    <script src="~/cv/js/popper.min.js"></script>
    <script src="~/cv/js/bootstrap.min.js"></script>
    <script src="~/cv/js/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
